@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}


/***********************************/
/***** Header Section **************/
/***********************************/
header{
    padding: 2% 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

header h3{
    font-size: 2rem;
    color: white;
    font-family: 'Righteous', cursive;
    font-weight: 700;
}

header ul{
    padding: 0;
}

header ul li{
    display: inline-block;
    padding: 0 30px;
}

header ul li a{
    text-decoration: none;
    color: #fff;
}

header ul li a:hover{
    color: #ff8303;
    background-color: #fff;
    padding: 10px;
}

header div{
    display: none;
}

header div i{
    color: white;
}


/***********************************/
/***** Intro  Section **************/
/***********************************/
.intro{
    height: calc(100vh - 100px);
    background-image: url(../images/bgimg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 7%;
    margin-top: 50px;
}

.intro div{
    transform: translateY(10vh)
}

.intro i{
    font-size: 4em;
}

.intro h2{
    font-size: 5em;
    font-weight: 700;
    margin-top: 30px;
}

.intro .typewriter-text{
    margin-top: 0;
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    font-family: monospace;
    white-space: nowrap;
    color: #fff;
    border-right: 4px solid #fff;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 5s steps(30, end), blink .75s step-end infinite;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 70% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: #fff; 
    }
}


/***********************************/
/***** About  Section **************/
/***********************************/
.about {
    text-align: center;
    padding: 5% 7%;
}

.about img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.about h5{
    font-size: 2em;
    color: #ff8303;
    margin: 30px;
    font-weight: 700;
}

.about p{
    margin-top: 20px;
}


/***********************************/
/***** My Work  Section ************/
/***********************************/
.my-work{
    text-align: center;
    padding: 5% 7%;
    background-color: #000;
}

.my-work h5{
    color: white;
    font-size: 3em;
}

.my-work-summary{
    color: #fff;
    font-size: 1em;
    margin: 30px;
}

.my-work img{
    width: 60%;
}



/****************************************************/
/****************************************************/
/******* Responsiveness For the site ****************/
/****************************************************/
/****************************************************/
@media screen and (max-width: 576px){
    /* Header section */
    header{
        display: block;
    }

    header ul {
        padding-top: 1em;
        display: none;
    }

    .show{
        display: block;
        transition: ease all 20s;
    }

    header ul li{
        display: block;
        text-align: center;
        margin-bottom: 4em;
    }
    
    header div {
        display: block;
        position: absolute;
        top: 2%;
        right: 7%;
    }

    /* Intro Section */
    .intro{
        width: 100%;
        height: calc(90vh - 100px);
        padding-top: 7%;
        margin-top: 30px;
    }

    .intro div{
        transform: translateY(5vh);
        text-align: center;
    }

    .intro i{
        font-size: 3em;
    }

    .intro h2{
        font-size: 3em;
        color: white;
    }

    .intro .typewriter-text{
        display: flex;
        flex-direction: column;
    }

    .intro .typewriter-text span{
        margin-top: 20px;
    }

    /* About Section */
    .about{
        width: 100%; 
    }
}

@media (min-width: 576px) and (max-width: 767px){
    /* Header section */
    header{
        display: block;
    }

    header ul {
        padding-top: 1em;
        display: none;
    }

    .show{
        display: block;
        transition: ease all 20s;
    }

    header ul li{
        display: block;
        text-align: center;
        margin-bottom: 4em;
    }
    
    header div {
        display: block;
        position: absolute;
        right: 7%;
        top: 2%;
    }
}

@media (min-width: 768px){

}

@media (min-width: 992px){

}